.page-content.our-vision .section-3 .layout-width {
  padding-bottom: 2rem;
}
.page-content.our-vision .section-3 .layout-width .spacing {
  padding-bottom: 10rem;
}
.page-content.our-vision .section-2 .layout-width {
  padding-top: 8rem;
  padding-bottom: 13rem;
}
