.page-content {
    &.about {

        .section-6 {
            .layout-width {
                padding-top: 10rem;
                padding-bottom: 13rem;

                .header-xl {
                    margin-bottom: 6rem;
                }

                .profile-container {
                    margin-bottom: 3rem;
                }
            }
        }

        .section-5 {
            .layout-width {
                .spacing {

                    &:nth-child(3) { 
                        padding-top: 12rem;

                        .image-container {

                            .outer-container {
                                transform: matrix(-1, 0, 0, 1, 0, 0);

                                .inner-container {
                                    background-color: #d8c6c6 !important;
                                    transform: matrix(-1, 0, 0, 1, 0, 0);
                                }

                            }

                        }

                        .grid-2-row {
                            row-gap: 38px;
                            margin-top: 4rem;
                        }

                    }

                    &:nth-child(2) {
                        padding-top: 5rem;

                        > div:not(.image-container) {
                            margin-top: 4rem;
                        }
                    }

                }
            }
        }

        .section-4 {
            .layout-width {
                padding-top: 12rem;
                padding-bottom: 20rem;
            }
        }

        .section-3 {
            .layout-width {

                .header-lg {
                    margin-bottom: 4.5rem;
                }

                .bg-clip {
                    position: relative;
                    clip-path: url('#our-values-mask');
                    padding: 3rem 2rem 10rem 2rem;

                    &.grid-3-col {
                        @media screen and (min-width: 992px) {
                            column-gap: 3rem;
                        }
                    }

                    .grid-3-row {
                        row-gap: 1rem;

                        h1 {
                            margin-bottom: 0.5rem;
                        }

                        p {
                            
                        }

                    }

                    > div.grid-3-row {
                        position: relative;
                        align-items: center;
                        justify-content: center;
                    }

                }

            }
        }

        .section-2 {
            .layout-width {
                padding-top: 8rem;
                padding-bottom: 13rem;
            }
        }

    }
}