.page-content.game-center {
    
    section {

        &.page-hero {
            background-color: #000 !important;
        }

        &.section-1 {
            background-color: #000 !important;
            clip-path: url(#section-1);

            .layout-width {
                padding-top: 14rem;
                padding-bottom: 8rem;

                .grid-2 {
                    .grid-2-row {
                        margin-top: 5rem;
                    }
                }

            }

        }

    }

}