.page-content {
    &.games {
        background-color: #040828;

        .section-1 {
            .layout-width {
                padding-top: 6rem;
                padding-bottom: 13rem;

                .spacing {
                    margin-top: 12rem;

                    .grid-3-row {
                        > div {

                            ul {
                                padding-left: 2.5rem !important;

                                li {
                                    margin-bottom: 1.825rem;
                                }
                            }

                            a {
                                &:last-child {
                                    img {
                                        width: 220px;
                                    }
                                }

                                &:first-child {
                                    margin-right: 3rem;

                                    img {
                                        width: 180px;
                                    }
                                }
                                
                            }
                        }
                    }

                    &:nth-child(2) {
                        margin-top: 5rem;
                    }

                }

            }
        }
    }
}