.page-content {
    &.home {

        .slick-dots { 
            bottom: -60px;
        }

        .slick-dots li button:before {
            opacity: .3;
            color: #ffffff;
            font-size: 16px;
        }

        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #fff;
        }

        .section-4 {
            .layout-width {
                padding-top: 15rem;
                padding-bottom: 18rem;

                .slick-slider {
                    margin-top: 1rem;
                }

                .slick-slide {

                    img {
                        object-fit: scale-down;
                        width: 100px;
                        height: 100px;

                        @media screen and (max-width: 401px) {
                            height: 60px !important;
                            width: 60px !important;
                        }

                        @media screen and (max-width: 1367px) {
                            height: 160px;
                            width: 160px;
                        }

                        @media screen and (min-width: 1368px) {
                            height: 200px;
                            width: 200px;
                        }
                    }

                }

                .icon {
                    margin-left: 2.5rem;
                }

                .header-xl.has-underline::after { 
                    margin-top: 0.325rem;
                }

                .grid-2-row {
                    margin-bottom: 5.5rem;
                }
            }
        }

        .section-3 {
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;

            .layout-width {
                padding-top: 148px;
                padding-bottom: 25rem;

                .spacing {
                    margin-top: 12rem;
                }

            }

        }

        .section-2 {
            .layout-width {
                padding-top: 8rem;
                padding-bottom: 16rem;
            }
        }

    }
}