.page-content.our-vision {

    .section-3 {
        .layout-width {
            padding-bottom: 2rem;

            .spacing {
                padding-bottom: 10rem;
            }
        }
    }

    .section-2 {
        .layout-width {
            padding-top: 8rem;
            padding-bottom: 13rem;
        }
    }

}