.page-content.sponsors {
    
    section {

        &.section-2 {
            .layout-width {
                padding-top: 2rem;
                padding-bottom: 16rem;

                .grid-3-col {
                    place-items: center;
                }

                img {
                    height: 160px;
                    width: 160px;
                    object-fit: contain;
                }

            }
        }

        &.section-1 {

            .layout-width {
                padding-top: 8rem;
            }

        }

    }

}